.imgdes {
  border-radius: 50%;
  margin-left: 430px;
}

.class3 {
  margin-left: 430px;
}

.class4 {
  margin-left: 410px;
  font-size: 20px;
  padding-right: 200px;
}

.class5 {
  font-family: Lobster;
  margin-left: 410px;
  padding-right: 200px;
}
